body {
    margin: 0;
    padding: 0;
    font-family: Vazir !important;
    height: 100vh;
    width: 100%;
}
.container, .row {
    height: 100%;
    width: 100%;
}
.topArea, .bottomArea {
    background-color: #000000;
    min-height: 130px;
    width: 100%;
}
.topArea {
    border-radius: 5px 5px 0 0;
}
.bottomArea {
    border-radius: 0 0 5px 5px;
}
.mainArea {
    background-color: #ffc107;
    min-height: 300px;
    width: 100%;
    position: relative;
}
.main-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.rotate-180 {
    transform: rotate(180deg);
}
img {cursor: pointer}
.winClass {
    background: #eee;
    border-radius: 100%;
    padding: 20px;
}
.card{
    border: 0 !important;
    box-shadow: 0 0 24px 7px #d4d4d4;
}
.userBadge {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 0;
    font-size: 18px;
}
.computerBadge {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    font-size: 18px;
}